name: Deploy to EC2

on:
  push:
    branches:
      - master
      - feat/get_data_from_s3

env:
  DOCKER_IMAGE: ${{ secrets.DOCKERHUB_USERNAME }}/ku-smartwalkingtour
  DOCKER_TAG: latest
  SECRET_ID: ku-swt/env
  AWS_REGION: ap-northeast-2

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up Buildx
        uses: docker/setup-buildx-action@v3
        with:
          install: true
          driver: docker-container

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: ${{ env.DOCKER_IMAGE }}:${{ env.DOCKER_TAG }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

  deploy:
    needs: build-and-push
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to EC2
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            APP_DIR=/home/ec2-user/app
            CONTAINER_NAME=ku-swt-container
            NETWORK_NAME=server-network

            # 생성하는 파일의 권한은 반드시 600임을 보장.
            umask 077

            # .env 값을 가져옴.
            sudo aws secretsmanager get-secret-value \
              --secret-id "${{ env.SECRET_ID }}" \
              --region "${{ env.AWS_REGION }}" \
              --query SecretString \
              --output text > "${APP_DIR}/.env"

            sudo docker stop "${CONTAINER_NAME}" || true
            sudo docker rm "${CONTAINER_NAME}" || true
            sudo docker pull ${{ env.DOCKER_IMAGE }}:${{ env.DOCKER_TAG }}
            sudo docker run -d \
              --name "${CONTAINER_NAME}" \
              --network "${NETWORK_NAME}" \
              -v "${APP_DIR}/.env:/usr/src/app/.env:ro" \
              ${{ env.DOCKER_IMAGE }}:${{ env.DOCKER_TAG }}
